<!-- error message -->
<% if (error && error.length > 0) { %>
<div
    class="absolute -translate-x-1/2 -translate-y-1/2 left-1/2 top-6 bg-red-500 rounded-md p-4 w-fit"
>
    <span class="inline-block text-white"><%= error %></span>
</div>
<% } %>
